<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quán Nước Xinh Xắn - Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f9;
            position: relative;
            overflow-x: hidden; /* Prevent horizontal scrolling */
        }
        .vertical-nav {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #343a40;
            padding-top: 20px;
        }
        .vertical-nav .navbar-nav .nav-link {
            color: #fff;
        }
        .vertical-nav .navbar-nav .nav-link.active {
            background-color: #495057;
        }
        .main-content {
            margin-left: 250px;
            padding: 20px;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border: none;
            transition: transform 0.3s ease-in-out;
        }
        .card img {
            border-radius: 5px;
            object-fit: cover;
            height: 200px; /* Adjust the height to match */
            width: 100%; /* Ensure it covers the full width */
        }
        .card:hover {
            transform: translateY(-10px);
        }
        .footer {
            background-color: #343a40;
            color: #fff;
        }
        .footer a {
            color: #adb5bd;
        }
        /* Styling for the background image */
        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Ensure it's behind other content */
        }
        .background-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.2; /* Adjust opacity as needed */
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .special-card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 10px;
            transition: box-shadow 0.3s ease-in-out;
        }
        .special-card:hover {
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
<header th:fragment="header">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Your header content here -->
    <nav class="navbar navbar-expand-lg flex-column align-items-start vertical-nav">
        <div class="container-fluid flex-column align-items-start">
            <a class="navbar-brand text-white" href="/">3T1P</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column align-items-start" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/product/list">PRODUCT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category/list">Danh sách Danh mục</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/account/list">Danh sách USER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/order/list">Danh sách ORDER</a>
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated()" class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Hello, <span sec:authentication="name"></span>!
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/logout" th:href="@{/logout}">Đăng xuất</a></li>
                        <li><a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" href="/admin/index" th:href="@{/admin/index}">ADMIN</a></li>
                    </ul>
                </div>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-outline-primary">Đăng nhập</a>
                </li>
            </div>
        </div>
    </nav>
</header>
<div layout:fragment="content" class="main-content">
    <!-- Dynamic content goes here -->
    <div class="container mt-4">
        <h2 style="font-family: 'Arial Black', sans-serif; color: #e83e8c; text-align: center; margin-top: 50px; font-size: 3rem;">XIN CHÀO QUẢN TRỊ VIÊN, CHÀO MỪNG BẠN ĐẾN VỚI TRANG QUẢN LÝ!</h2>
        <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <div class="card special-card">
                    <img th:src="@{https://thanhnien.mediacdn.vn/uploaded/quochung.qc/2018_11_16/Highlands/a5_GFCY.jpg?width=500}" alt="Product Management" class="card-img-top">
                    <div class="card special-card">
                        <h5 class="card-title">Quản Lý Sản Phẩm</h5>
                        <p class="card-text">Quản lý và cập nhật danh mục sản phẩm, mô tả, giá cả và nhiều thông tin khác.</p>
                        <a href="/admin/order/list" class="btn btn-primary" style="background-color: #dc3545; border-color: #dc3545;">Xem Đơn Hàng</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card special-card">
                    <img th:src="@{https://mauthietkecafe.com/images/projects/2023/09/07/zalo-screenshot-7-9-2023-85284-968.png}" alt="Category Management" class="card-img-top">
                    <div class="card special-card">
                        <h5 class="card-title">Quản Lý Danh Mục</h5>
                        <p class="card-text">Sắp xếp sản phẩm của bạn vào các danh mục để dễ dàng tìm kiếm hơn.</p>
                        <a href="/admin/order/list" class="btn btn-primary" style="background-color: #dc3545; border-color: #dc3545;">Xem Đơn Hàng</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card special-card">
                    <img th:src="@{https://www.highlandscoffee.com.vn/vnt_upload/news/07_2019/HCO-Tin_tuYYc-BANNER-NEWS-740X314.jpg}" alt="Order Management" class="card-img-top">
                    <div class="card special-card">
                        <h5 class="card-title">Quản Lý Đơn Hàng</h5>
                        <p class="card-text">Theo dõi và quản lý đơn hàng của khách hàng, vận chuyển và hoàn tất đơn hàng.</p>
                        <a href="/admin/order/list" class="btn btn-primary" style="background-color: #dc3545; border-color: #dc3545;">Xem Đơn Hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer py-4 mt-5" id="footer" tabindex="0">
    <div class="container py-4 px-4 text-light">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <ul class="list-unstyled small">
                    <li class="mb-2"><span>Designed and built with all the love in the world by the <a href="/docs/5.3/about/team/" class="text-light">Bootstrap team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors" class="text-light">our contributors</a>.</span></li>
                    <li class="mb-2"><span>Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener" class="text-light">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener" class="text-light">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener" class="text-light">CC BY 3.0</a>.</span></li>
                    <li class="mb-2"><span>Mã nguồn được cấp phép <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener" class="text-light">MIT</a>, tài liệu <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener" class="text-light">CC BY 3.0</a>.</span></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Liên kết</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/" class="text-light">Trang chủ</a></li>
                    <li class="mb-2"><a href="/docs/5.3/" class="text-light">Tài liệu</a></li>
                    <li class="mb-2"><a href="/docs/5.3/examples/" class="text-light">Ví dụ</a></li>
                    <li class="mb-2"><a href="https://icons.getbootstrap.com/" class="text-light">Biểu tượng</a></li>
                    <li class="mb-2"><a href="https://themes.getbootstrap.com/" class="text-light">Chủ đề</a></li>
                    <li class="mb-2"><a href="https://blog.getbootstrap.com/" class="text-light">Blog</a></li>
                    <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap" target="_blank" rel="noopener" class="text-light">Cửa hàng</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Liên kết khác</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/" class="text-light">Trang chủ</a></li>
                    <li class="mb-2"><a href="/docs/5.3/" class="text-light">Tài liệu</a></li>
                    <li class="mb-2"><a href="/docs/5.3/examples/" class="text-light">Ví dụ</a></li>
                    <li class="mb-2"><a href="https://icons.getbootstrap.com/" class="text-light">Biểu tượng</a></li>
                    <li class="mb-2"><a href="https://themes.getbootstrap.com/" class="text-light">Chủ đề</a></li>
                    <li class="mb-2"><a href="https://blog.getbootstrap.com/" class="text-light">Blog</a></li>
                    <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap" target="_blank" rel="noopener" class="text-light">Cửa hàng</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Background image -->
<div class="background-image">
    <img src="https://bizweb.dktcdn.net/100/183/857/files/thiet-ke-quan-cafe-tone-den-trang-4-1.jpg?v=1695780819747" alt="Background Image">
</div>

</body>
</html>
