<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="">
<head>
    <meta charset="UTF-8">
    <title>Product Detail - Vintage Coffee</title>

    <!-- Thymeleaf block for CSS -->
    <th:block th:replace="layout::link-css"></th:block>

    <!-- Custom CSS styles -->
    <style>
        /* Existing CSS styles from your template */
        .product-detail {
            margin-top: 20px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .product-detail img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 20px;
            transition: transform 0.3s ease;
        }
        .product-detail img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        .product-detail .product-info {
            margin-bottom: 20px;
        }
        .product-detail .product-info h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .product-detail .product-info p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }
        .product-detail .product-info strong {
            color: #008000;
            font-weight: bold;
        }
        .product-detail .product-info .btn-group {
            margin-top: 20px;
        }
        .btn {
            padding: 14px 28px; /* Increased button size */
            border-radius: 5px;
            font-size: 18px; /* Larger font size */
            font-weight: bold; /* Bold text */
        }
        .btn-warning {
            background-color: #ff9900; /* Dark orange background */
            color: #fff;
            border-color: #ff9900; /* Match background color */
        }

        /* CSS for the hero section with background image and gradient overlay */
        .hero {
            position: relative;
            width: 100%;
            height: 400px;
            overflow: hidden;
            text-align: center;
            color: white;
            background: linear-gradient(135deg, rgba(255, 245, 248, 0.7), rgba(255, 192, 203, 0.7), rgba(238, 130, 238, 0.7), rgba(255, 240, 245, 0.7)), url('https://dodat.com.vn/images/slideshow/slide-nuoc-ep.png');
            background-size: cover;
            background-position: center;
        }

        .hero-content {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 10;
            width: auto;
            text-align: left;
        }

        .hero h1 {
            display: inline-block;
            background-color: rgba(255, 245, 248, 0.7);
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 3.5rem;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin: 0;
            color: #000;
            transition: color 0.3s ease-in-out;
        }

        .hero h1:hover {
            color: red;
        }

        body {
            margin: 0;
            padding: 0;
        }
    </style>

    <!-- Font Awesome CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

<!-- Thymeleaf block for header -->
<th:block th:replace="layout::header"></th:block>

<!-- Hero section for product detail -->
<div class="hero">
    <div class="hero-content">
        <h1>CHI TIẾT SẢN PHẨM</h1>
        <!-- Optional: Add more content inside the hero section as needed -->
    </div>
</div>

<!-- GIF image -->
<img src="https://gifdb.com/images/high/cute-more-coffee-subnah3z826ucd3n.gif" alt="First GIF" class="small-gif" style="max-width: 150px; height: auto;">

<!-- Product Detail section -->
<section class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Product Image -->
                <img th:src="@{${product.thumails}}" alt="Product Image">

                <!-- Return button -->
                <div class="text-center mt-4">
                    <a class="btn btn-info" th:href="@{/products/list}">Trở về</a>

                    <!-- Shopping cart icon -->
                    <a href="/cart" class="btn btn-outline-primary ms-2">
                        <i class="fas fa-shopping-cart"></i> Giỏ hàng
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Product Information -->
                <div class="product-info">
                    <h2 th:text="${product.name}">Product Name</h2>
                    <p th:text="${product.description}">Product Description</p>
                    <p><strong>Price:</strong> <span th:text="${#numbers.formatDecimal(product.price, 1, 3)}">Price</span> VNĐ</p>
                    <p><strong>Category:</strong> <span th:text="${product.category.name}">Category Name</span></p>
                    <p><strong>Available Quantity:</strong> <span th:text="${product.quantity}">Quantity</span></p>

                    <!-- Buttons (Add to Cart, Edit/Delete for admin) -->
                    <div class="btn-group">
                        <form th:action="@{/cart/add}" method="post">
                            <input type="hidden" name="quantity" min="1" value="1">
                            <input type="hidden" th:value="${product.id}" name="productId"/>
                            <button type="submit" class="btn btn-warning">ĐẶT MUA NGAY</button>
                        </form>
                        <div sec:authorize="hasAnyAuthority('ADMIN')">
                            <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-success">Edit</a>
                            <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer section -->
<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Thông tin cửa hàng</h5>
                <p>Chào mừng đến với 3T1P - cửa hàng bán nước uống với những loại thức uống đa dạng và hấp dẫn. Chúng tôi tự hào mang đến cho bạn những trải nghiệm tuyệt vời với các loại trà, cà phê, nước trái cây tươi ngon.</p>
                <p>Địa chỉ: 77 PHƯỚC LONG B, TP. Thủ Đức, TP. Hồ Chí Minh</p>
            </div>
            <div class="col-md-6">
                <h5>Liên hệ</h5>
                <p>Nếu có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi.</p>
                <p>Hotline: 1800-1234-5678</p>
                <p>Email: support@gmail.com</p>
            </div>
        </div>
    </div>
</footer>

<!-- Thymeleaf block for footer -->
<th:block th:replace="layout::footer"></th:block>

<!-- JavaScript for changing text color on hover -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.hero h1').hover(
            function() {
                $(this).css('color', 'red');
            },
            function() {
                $(this).css('color', '#000');
            }
        );
    });
</script>

</body>
</html>
