<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <h1>Edit Product</h1>
    <form th:action="@{/products/edit/{id}(id=${product.id})}"
          th:object="${product}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="text" th:field="*{price}" class="form-control" id="price" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Current Image:</label>
            <div>
                <img th:src="@{${product.thumails}}" alt="Product Image" style="max-width: 100px; max-height: 100px;">
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Product Image:</label>
            <input type="file" id="image" name="image" class="form-control">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select th:field="*{category}" class="form-control" id="category">
                <option th:each="category : ${categories}"
                        th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == product.category.id}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea th:field="*{description}" class="form-control" id="description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a class="btn btn-info" th:href="@{/}">Trở về</a>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
