<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update Category</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .hero {
            position: relative;
            width: 100%;
            height: 400px;
            overflow: hidden;
            text-align: center;
            color: white;
            background: linear-gradient(135deg, rgba(255, 245, 248, 0.7), rgba(255, 192, 203, 0.7), rgba(238, 130, 238, 0.7), rgba(255, 240, 245, 0.7)), url('https://cdn.tgdd.vn/Files/2020/05/19/1256734/ban-biet-gi-ve-cocktail-3-cach-che-bien-cocktail--12.jpg');
            background-size: cover;
            background-position: center;
        }
        .hero-content {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 10;
            width: auto;
            text-align: left;
        }
        .hero h1 {
            display: inline-block;
            background-color: rgba(255, 245, 248, 0.7);
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 3.5rem;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin: 0;
            color: #000;
            transition: color 0.3s ease-in-out;
        }
        .hero h1:hover {
            color: red;
        }
        .card {
            border: 2px solid #FF4500; /* Màu cam đậm cho border */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ */
            transition: transform 0.3s ease-in-out; /* Hiệu ứng di chuyển */
            padding: 20px;
            border-radius: 10px; /* Bo góc */
            background-color: #fff;
        }
        .card:hover {
            transform: translateY(-10px); /* Hiệu ứng khi hover */
        }
        .form-label {
            font-weight: bold;
            color: #FF4500; /* Màu cam đậm cho nhãn */
        }
        .btn-primary {
            background-color: #FF4500; /* Màu cam đậm cho nút */
            border-color: #FF4500;
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }
        .btn-primary:hover {
            background-color: #E03D00; /* Màu cam đậm hơn khi hover */
            border-color: #E03D00;
        }
        h1 {
            color: #FF4500; /* Màu cam đậm cho tiêu đề */
            text-align: center;
        }
        .container {
            max-width: 600px; /* Giới hạn chiều rộng */
        }
        .footer {
            background-color: #FF4500;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .footer a {
            color: white;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="hero">
    <div class="hero-content">
        <h1>Update Category</h1>
    </div>
</div>
<section layout:fragment="content" class="container mt-5">
    <div class="card">
        <h1 class="mb-4">Update Category</h1>
        <form th:action="@{/categories/edit/{id}(id=${category.id})}" th:object="${category}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Category Name:</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Valid name is required.</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Category Image:</label>
                <input type="file" id="image" name="image" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary w-100">Update</button>
            <a th:href="@{/categories}" class="btn btn-link w-100 text-center mt-3">Cancel</a>
        </form>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <p>© 2024 Quán Nước Xinh Xắn. All rights reserved.</p>
        <p><a href="/about">About Us</a> | <a href="/contact">Contact</a> | <a href="/privacy">Privacy Policy</a></p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>