<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="${title} ?: 'Danh sách danh mục'">Danh sách danh mục</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .navbar {
        background-color: #343a40;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .navbar h1 {
        margin: 0;
        text-align: center;
    }
    .hero {
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
        text-align: center;
        color: white;
        background: linear-gradient(135deg, rgba(255, 245, 248, 0.7), rgba(255, 192, 203, 0.7), rgba(238, 130, 238, 0.7), rgba(255, 240, 245, 0.7)), url('https://cdn.tgdd.vn/Files/2020/05/19/1256734/ban-biet-gi-ve-cocktail-3-cach-che-bien-cocktail--12.jpg');
        background-size: cover;
        background-position: center;
    }
    .hero-content {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
        width: auto;
        text-align: left;
    }
    .hero h1 {
        display: inline-block;
        background-color: rgba(255, 245, 248, 0.7);
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 3.5rem;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin: 0;
        color: #000;
        transition: color 0.3s ease-in-out;
    }
    .hero h1:hover {
        color: red;
    }
    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }
    .table img {
        max-width: 100px;
        max-height: 100px;
    }
    .navbar .input-group {
        width: 100%;
    }
    .navbar .form-control {
        width: 100%;
    }
    .navbar .btn {
        min-width: 100px;
    }
    .img-container,
    .img-right-container {
        display: flex;
        align-items: center;
    }
    .img-horizontal {
        width: 50%;
        height: auto;
        max-height: 400px;
    }
    .text-right,
    .text-left {
        width: 50%;
        padding: 0 20px;
    }
  </style>
</head>
<body>
<!-- Hero section -->
<div class="hero">
  <div class="hero-content">
    <h1>DANH MỤC</h1>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">3T1P - Quán Nước Xinh Xắn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <!-- Form tìm kiếm sản phẩm -->
      <form class="form-inline" th:action="@{/products/search}" method="get">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" name="keyword" style="width: 400px;">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit">Tìm kiếm</button>
          </div>
        </div>
      </form>
      <!-- Liên kết "Danh mục" -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/3}">THỰC ĐƠN MÓN ĂN KHÁC (FOOD MENU)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/4}">TRÀ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/5}">CÀ PHÊ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/6}">FREEZE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/7}">DÒNG CÀ PHÊ ĐẶC BIỆT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/8}">TINH HOA TRÀ 3T1P</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/9}">KEM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products/category/10}">KHÁC</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div sec:authorize="hasAuthority('ADMIN')">
  <a th:href="@{/categories/add}" class="btn btn-primary mb-3">Thêm danh mục mới</a>
</div>
<!-- Main content section -->
<!-- <section layout:fragment="content">
  <div class="container">
    <div class="text-center mb-4">
      <h1>Danh sách danh mục</h1>
      <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/categories/add}" class="btn btn-primary mb-3">Thêm danh mục mới</a>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Tên</th>
          <th>Ảnh đại diện</th>
          <th sec:authorize="hasAnyAuthority('ADMIN')">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
          <td th:text="${category.id}"></td>
          <td th:text="${category.name}"></td>
          <td>
            <img th:src="@{${category.thumnails}}" alt="Ảnh danh mục">
          </td>
          <td sec:authorize="hasAnyAuthority('ADMIN')">
            <a class="btn btn-success btn-sm" th:href="@{/categories/edit/{id}(id=${category.id})}">Sửa</a>
            <a class="btn btn-danger btn-sm" th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa</a>
          </td>
        </tr>
        </tbody>
      </table>
      <a class="btn btn-info" th:href="@{/products/list}">Quay lại</a>
    </div>
  </div>
</section>-->
<a class="btn btn-info" th:href="@{/products/list}">Quay lại</a>
<hr class="my-4">
<section class="container">
  <div class="spacer"></div>
  <section class="custom-section">
    <p>Chúng tôi mong rằng bạn sẽ luôn cảm thấy hài lòng và thoải mái khi đến với 3T1P - Quán Nước Xinh Xắn. Hãy để chúng tôi phục vụ bạn và mang đến cho bạn những trải nghiệm đáng nhớ.</p>
    <div class="center-btn">
      <a href="#" class="rainbow-button">Khám phá thêm</a>
    </div>
  </section>
  <div class="row">
    <div class="col-md-6 order-md-1">
      <img src="https://cdn.tgdd.vn/Files/2021/04/09/1342037/6-quan-an-sang-cafe-ngon-ma-nguoi-ha-noi-thuong-den-202201171034191434.jpg" class="large-img img-horizontal">
    </div>
    <div class="col-md-6 order-md-2">
      <strong>3T1P - Quán Nước Xinh Xắn</strong>
      <p>Chào mừng bạn đến với quán nước xinh xắn của chúng tôi! 3T1P là nơi bạn có thể tận hưởng những loại đồ uống thơm ngon, từ cà phê đậm đà đến trà sữa béo ngậy và nhiều loại đồ uống khác. Đến với 3T1P, bạn không chỉ được thưởng thức đồ uống ngon mà còn được thư giãn trong không gian thoải mái và ấm cúng.</p>
      <p>Chúng tôi tự hào mang đến cho bạn những sản phẩm chất lượng cao nhất, với nguồn nguyên liệu được chọn lọc kỹ càng và quy trình pha chế tinh tế. Mỗi ly đồ uống tại 3T1P đều được làm từ tình yêu và sự tận tụy của chúng tôi.</p>
      <p>Hãy đến và trải nghiệm sự khác biệt tại 3T1P - Quán Nước Xinh Xắn ngay hôm nay!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img src="https://thegioimenu.com/wp-content/uploads/2023/09/in-menu-cafe-31-3-1.jpg" class="large-img img-horizontal">
    </div>
    <div class="col-md-6 order-md-1">
      <p>Tại 3T1P, chúng tôi không ngừng sáng tạo và đổi mới để mang đến cho bạn những trải nghiệm tuyệt vời nhất. Chúng tôi có một đội ngũ nhân viên thân thiện và nhiệt tình, sẵn sàng phục vụ bạn mọi lúc, mọi nơi.</p>
      <p>Đặc biệt, chúng tôi luôn lắng nghe ý kiến của khách hàng để cải thiện và phát triển dịch vụ của mình. Sự hài lòng của bạn là niềm vui và động lực lớn nhất đối với chúng tôi.</p>
      <p>Hãy đến và thưởng thức những ly đồ uống tuyệt vời tại 3T1P - Quán Nước Xinh Xắn, nơi mà mỗi lần ghé thăm đều là một trải nghiệm đáng nhớ.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-1">
      <img src="https://ipos.vn/wp-content/uploads/2022/06/nhan-vien-quan-ly-quan-cafe.png" class="large-img-right img-horizontal" alt="Hình ảnh minh họa">
    </div>
    <div class="col-md-6 order-md-2">
      <p>Chúng tôi luôn nỗ lực để mang đến cho bạn những trải nghiệm tuyệt vời nhất tại 3T1P - Quán Nước Xinh Xắn. Hãy ghé thăm chúng tôi để tận hưởng những giây phút thư giãn và thưởng thức những đồ uống ngon lành.</p>
      <p>Chúng tôi hy vọng rằng mỗi lần bạn ghé thăm 3T1P sẽ là một trải nghiệm đáng nhớ và bạn sẽ quay lại với chúng tôi nhiều lần hơn nữa.</p>
    </div>
  </div>
</section>
<section class="container">
  <div class="spacer"></div>
  <section class="custom-section">
    <p>Chúng tôi mong rằng bạn sẽ luôn cảm thấy hài lòng và thoải mái khi đến với 3T1P - Quán Nước Xinh Xắn. Hãy để chúng tôi phục vụ bạn và mang đến cho bạn những trải nghiệm đáng nhớ.</p>
    <div class="center-btn">
      <a href="#" class="rainbow-button">Khám phá thêm</a>
    </div>
  </section>
  <div class="row">
    <div class="col-md-6 order-md-1">
      <img src="https://cuongquat.com/files/tin/8/jpg/tra-sua-co-pudding.jpg" alt="Trà sữa" class="img-fluid img-horizontal">
    </div>
    <div class="col-md-6 order-md-2 d-flex align-items-center">
      <div>
        <h2>Trà sữa đặc biệt</h2>
        <p>Thưởng thức hương vị trà sữa tuyệt vời tại 3T1P - Quán Nước Xinh Xắn.</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 order-md-2">
      <img src="https://cacanh24.com/wp-content/uploads/2023/05/hinh-anh-tra-sua-dep-tuyet.jpg" alt="Trà sữa với thạch pudding" class="img-fluid img-horizontal">
    </div>
    <div class="col-md-6 order-md-1 d-flex align-items-center">
      <div>
        <h2>Trà sữa với thạch pudding</h2>
        <p>Thưởng thức hương vị trà sữa tuyệt vời với thạch pudding độc đáo.</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>
  </section>
<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Thông tin cửa hàng</h5>
        <p>Chào mừng đến với 3T1P - cửa hàng bán nước uống với những loại thức uống đa dạng và hấp dẫn. Chúng tôi tự hào mang đến cho bạn những trải nghiệm tuyệt vời với các loại trà, cà phê, nước trái cây tươi ngon.</p>
        <p>Địa chỉ: 77 PHƯỚC LONG B, TP. Thủ Đức, TP. Hồ Chí Minh</p>
      </div>
      <div class="col-md-6">
        <h5>Liên hệ</h5>
        <p>Nếu có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi.</p>
        <p>Hotline: 1800-1234-5678</p>
        <p>Email: support@gmail.com</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
