<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Giỏ hàng của bạn'">Giỏ hàng của bạn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Custom CSS for cart page -->
    <style>
        /* Gradient background */
        body {
            background: linear-gradient(135deg, rgba(255, 245, 248, 0.7), rgba(255, 192, 203, 0.7), rgba(238, 130, 238, 0.7), rgba(255, 240, 245, 0.7)), url('https://dodat.com.vn/images/slideshow/slide-nuoc-ep.png');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: #333; /* Dark text color for better readability */
            padding-top: 50px; /* Adjust top padding to avoid overlap with fixed header */
        }
        .product-image {
            width: 80px; /* Adjusted width for product images */
            height: 80px; /* Adjusted height for product images */
            border-radius: 5px; /* Rounded corners for images */
            transition: transform 0.3s ease; /* Smooth hover effect */
        }
        .product-image:hover {
            transform: scale(1.1); /* Zoom effect on hover */
            cursor: pointer; /* Pointer cursor on hover */
        }
        .table {
            background-color: #fff; /* White background for table */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
        }
        .total-price {
            font-weight: bold;
        }
        .btn {
            font-weight: bold;
        }
        .container h1 {
            font-size: 2rem; /* Adjusted font size for h1 inside container */
            padding-bottom: 10px; /* Add some bottom padding */
            border-bottom: 2px solid #ccc; /* Bottom border for separation */
            display: inline-block; /* Ensure inline block to contain the padding */
            margin-bottom: 20px; /* Bottom margin for spacing */
        }
        .container {
            background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
            padding: 20px; /* Padding for the container */
            border-radius: 10px; /* Rounded corners for the container */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
        }
        .is-invalid {
            border-color: #dc3545; /* Màu khung nếu lỗi */
            padding-right: calc(1.5em + .75rem); /* Khoảng cách cho biểu tượng */
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3cpath d='M6 7.5h.01'/%3e%3c/svg%3e"); /* Biểu tượng chấm than đỏ */
            background-repeat: no-repeat;
            background-position: right calc(.375em + .1875rem) center;
            background-size: calc(.75em + .375rem) calc(.75em + .375rem);
        }
        .invalid-feedback {
            color: #dc3545; /* Màu văn bản lỗi */
            font-size: 80%; /* Kích thước văn bản nhỏ hơn */
            display: none; /* Ẩn ban đầu */
            margin-top: .25rem; /* Khoảng cách với input */
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="container mt-3">
    <h1>Giỏ hàng của bạn</h1>

    <!-- Display error message if any -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <!-- Display message if cart is empty -->
    <div th:if="${cartItems.isEmpty()}" class="alert alert-info">Giỏ hàng của bạn đang trống.</div>

    <!-- Table to display cart items -->
    <table class="table table-bordered table-hover" th:unless="${cartItems.isEmpty()}" id="cartTable">
        <thead class="table-dark">
        <tr>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Tổng giá tiền</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.product.name}"></td>
            <td>
                <img th:src="@{${item.product.thumails}}" alt="Hình ảnh sản phẩm" class="product-image">
            </td>
            <td>
                <!-- Form to update quantity -->
                <form th:action="@{/cart/update}" method="post" class="d-flex justify-content-between align-items-center">
                    <input type="number" name="quantity" min="1" th:value="${item.quantity}"
                           class="form-control" style="width: 80px;">
                    <input type="hidden" th:value="${item.product.id}" name="productId"/>
                    <button type="submit" class="btn btn-success btn-sm ms-2">Cap nhat</button>
                </form>
            </td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.product.price*item.quantity}">
            </td>
            <td>
                <a th:href="@{/cart/remove/{productId}(productId=${item.product.id})}" class="btn btn-danger btn-sm">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Display total price of all products -->
    <div class="mt-3">
        <h2 class="alert alert-success">Total price: <span th:text="${totalPrice}"></span> VNĐ</h2>
    </div>

    <!-- Control buttons for cart actions -->
    <div class="mt-3">
        <a th:href="@{/cart/clear}" class="btn btn-secondary mb-3">Xóa Giỏ Hàng</a>
        |
        <!-- Thêm điều kiện kiểm tra giỏ hàng trống -->
        <a th:href="@{/order/checkout}" class="btn btn-primary">Check Out</a>
        |
        <a class="btn btn-info mb-3" th:href="@{/products/list}">Quay lại</a>
    </div>

</section>

<!-- JavaScript to calculate and display total price -->
<script th:inline="javascript">
</script>
</body>
</html>
