<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title} ?: 'Xác nhận đơn hàng'">Xác nhận đơn hàng</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #FFFFFF; /* Màu nền trắng */
            color: #333333; /* Màu chữ đen */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Kiểu chữ */
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 1200px; /* Giới hạn chiều rộng container */
            margin: auto; /* Canh giữa container */
            display: flex; /* Sử dụng flexbox để hiển thị các thành phần trên cùng một hàng */
            justify-content: space-between; /* Canh các thành phần hai bên */
            padding: 20px;
        }
        .confirmation-message {
            border: 4px solid #ffc107; /* Đổi kích thước border */
            padding: 30px; /* Đổi kích thước padding */
            border-radius: 20px; /* Đổi kích thước border-radius */
            background-color: #f0f0f0; /* Màu nền loang màu galaxy trắng tím nhạt */
            font-size: 1.5em;
            color: #856404; /* Màu chữ của cảnh báo của Bootstrap */
            max-width: 600px; /* Giới hạn chiều rộng */
        }
        .btn-primary {
            background-color: #ff69b4; /* Đổi màu button chính */
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 5px;
            font-weight: bold;
            margin-right: 10px; /* Khoảng cách với button kế tiếp */
        }
        .btn-primary:hover {
            background-color: #ff1493; /* Màu nền tối hơn khi hover của button chính */
        }
        .shop-info {
            padding: 20px;
            border: 2px solid #ff69b4; /* Đổi màu border của shop-info */
            border-radius: 10px;
            background-color: #fff;
            text-align: left;
            max-width: 600px; /* Giới hạn chiều rộng */
        }
        .shop-info img {
            width: 100%; /* Đảm bảo hình ảnh đầy đủ chiều rộng container */
            height: auto; /* Tự động tính chiều cao */
            border-radius: 10px;
            margin-bottom: 20px;
            transition: transform 0.3s ease; /* Thêm hiệu ứng transform */
            display: block; /* Đảm bảo hình ảnh hiển thị đúng cách */
            margin-left: auto; /* Canh lề trái */
            margin-right: auto; /* Canh lề phải */
        }
        .shop-info h2 {
            font-size: 2rem;
            margin-bottom: 10px; /* Giảm khoảng cách dưới tiêu đề */
            font-weight: bold; /* Đậm chữ */
            color: #ff69b4; /* Đổi màu chữ tiêu đề */
        }
        .shop-info p {
            font-size: 1rem;
            margin-bottom: 10px;
            color: #333; /* Màu chữ thông tin */
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="container mt-3 text-center">
    <div class="confirmation-message">
        <h1 class="my-4">Xác nhận đơn hàng</h1>
        <p th:text="${message}">Bạn đã đặt hàng thành công!</p>
        <p>Cảm ơn bạn đã mua sắm với chúng tôi. Chúc bạn một ngày thật vui vẻ. Hẹn gặp lại bạn trong lần mua sắm tiếp theo!</p>
        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-primary mt-3">Tiếp tục mua sắm</a>
            <a th:href="@{/order-detail}" class="btn btn-primary mt-3">Xem lại chi tiết đơn hàng</a>
        </div>
    </div>
    <div class="shop-info">
        <img src="https://i.pinimg.com/550x/f8/b8/75/f8b87511ca744473ae183bfc744ab032.jpg" alt="Shop Image">
        <h2>Giới thiệu về cửa hàng</h2>
        <p>Chào mừng đến với 3T1P - cửa hàng bán nước uống với những loại thức uống đa dạng và hấp dẫn. Chúng tôi tự hào mang đến cho bạn những trải nghiệm tuyệt vời với các loại trà, cà phê, nước trái cây tươi ngon.</p>
        <p>Địa chỉ: 77 PHƯỚC LONG B, TP. Thủ Đức, TP. Hồ Chí Minh</p>
        <p>Hotline: 1800-1234-5678</p>
        <p>Email: support@gmail.com</p>
    </div>
</section>
</body>
</html>
