<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
</head>
<body>
<h2>Order Detail</h2>
<p>Order ID: <span th:text="${orderId}"></span></p>
<p>Customer Name: <span th:text="${order.customerName}"></span></p>
<p>Email: <span th:text="${order.email}"></span></p>
<p>Address: <span th:text="${order.address}"></span></p>
<p>Phone: <span th:text="${order.phone}"></span></p>
<p>Payment Method: <span th:text="${order.payment}"></span></p>
<p>Order Date: <span th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}"></span></p>

<h3>Order Items</h3>
<table>
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail : ${order.orderDetails}">
        <td th:text="${detail.product.name}"></td>
        <td th:text="${detail.quantity}"></td>
        <td th:text="${#numbers.formatDecimal(detail.product.price, 2, 'COMMA', 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(detail.quantity * detail.product.price, 2, 'COMMA', 'POINT')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
