<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Chỉnh sửa Sản phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f9;
        }
        .container {
            background-color: #fff;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            border: 5px solid;
            border-image: linear-gradient(to right, #e83e8c, #6c7eeb);
            border-image-slice: 1;
            background-image: url('https://www.transparenttextures.com/patterns/flowers.png'); /* Hoa nền */
            background-size: cover;
        }
        h1 {
            font-family: 'Pacifico', cursive;
            color: #e83e8c;
            text-align: center;
            margin-bottom: 30px;
        }
        .form-label {
            font-weight: bold;
            color: #343a40;
        }
        .form-control {
            border-radius: 5px;
            border: 1px solid #ced4da;
            transition: border-color 0.3s ease;
        }
        .form-control:focus {
            border-color: #e83e8c;
            box-shadow: 0 0 5px rgba(232, 62, 140, 0.5);
        }
        .btn-primary {
            background: linear-gradient(to right, #e83e8c, #6c7eeb);
            border: 2px solid;
            border-image: linear-gradient(to right, #e83e8c, #6c7eeb);
            border-image-slice: 1;
            color: white;
            transition: background 0.3s ease, border-color 0.3s ease;
        }
        .btn-primary:hover {
            background: linear-gradient(to right, #6c7eeb, #e83e8c);
            border-color: transparent;
        }
        .btn-link {
            color: #6c757d;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        .btn-link:hover {
            color: #343a40;
        }
        .text-danger {
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <h1>Chỉnh sửa Sản phẩm</h1>
    <form th:action="@{/admin/product/edit/{id}(id=${product.id})}"
          th:object="${product}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Giá:</label>
            <input type="text" th:field="*{price}" class="form-control" id="price" required>
            <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Hình ảnh hiện tại:</label>
            <div>
                <img th:src="@{${product.thumails}}" alt="Hình ảnh sản phẩm" style="max-width: 100px; max-height: 100px;">
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Hình ảnh sản phẩm:</label>
            <input type="file" id="image" name="image" class="form-control">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Danh mục:</label>
            <select th:field="*{category}" class="form-control" id="category">
                <option th:each="category : ${categories}"
                        th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == product.category.id}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả:</label>
            <textarea th:field="*{description}" class="form-control" id="description" required></textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        <a th:href="@{/}" class="btn" style="background-color: #f39c12; color: white; border-color: #f39c12;">Hủy bỏ</a>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
