<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} ?: 'Product'">Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f9;
            position: relative;
            overflow-x: hidden;
        }
        .vertical-nav {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #343a40;
            padding-top: 20px;
        }
        .vertical-nav .navbar-nav .nav-link {
            color: #fff;
        }
        .vertical-nav .navbar-nav .nav-link.active {
            background-color: #495057;
        }
        .main-content {
            margin-left: 250px;
            padding: 20px;
            margin-right: 20px;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border: none;
            transition: transform 0.3s ease-in-out;
        }
        .card:hover {
            transform: translateY(-10px);
        }
        .footer {
            background-color: #343a40;
            color: #fff;
        }
        .footer a {
            color: #adb5bd;
        }
        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .background-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.2;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .table {
            margin-bottom: 0;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 15px;
        }
        .table th, .table td {
            vertical-align: middle;
            text-align: center;
            padding: 15px;
            background-color: #fff;
            border: none;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            border-radius: 10px;
            transition: all 0.3s ease;
        }
        .table th {
            background-color: #343a40;
            color: #fff;
            font-size: 1.1rem;
        }
        .table tbody tr:hover td {
            background-color: #e9ecef;
        }
        .btn-info {
            margin-top: 20px;
            font-size: 1.2rem;
            padding: 10px 20px;
        }
        .btn-back {
            background: linear-gradient(to right, #f78ca0, #6c7eeb);
            border-color: #f78ca0;
            transition: background 0.3s ease, border-color 0.3s ease;
            color: #000;
            font-family: 'Pacifico', cursive;
        }
        .btn-add {
            background: linear-gradient(to right, #f78ca0, #6c7eeb);
            border-color: #f78ca0;
            transition: background 0.3s ease, border-color 0.3s ease;
            color: #fff;
        }
        .table img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
        }
        .text-center {
            text-align: center !important;
        }
        h1 {
            font-family: 'Pacifico', sans-serif;
            color: #e83e8c;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<th:block th:replace="~{/admin/index::header}"></th:block>
<div class="content-wrapper">
    <div class="container mt-4">
        <div class="row justify-content-center mb-3">
            <div class="col-md-10 offset-md-2">
                <h1 class="text-center">Danh Sách Sản Phẩm</h1>
                <div class="text-center">
                    <a th:href="@{/admin/product/add}" class="btn btn-primary btn-add">Thêm Sản Phẩm Mới</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 offset-md-2">
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Tên Sản Phẩm</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Hình Ảnh</th>
                        <th class="text-center">Mô Tả</th>
                        <th class="text-center">Danh Mục</th>
                        <th class="text-center">Số Lượng</th>
                        <th class="text-center">Hành Động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product, stat : ${products}">
                        <td th:text="${stat.count}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <img th:src="@{${product.thumails}}" alt="Ảnh Sản Phẩm">
                        </td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td>
                            <a th:href="@{/admin/product/edit/{id}(id=${product.id})}" class="btn btn-success btn-sm">Edit</a>
                            <a th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc không?')">Xóa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <a class="btn btn-info btn-back" th:href="@{/admin/index}">Trở về</a>
                </div>
            </div>
        </div>
    </div>
    <div class="background-image">
        <img src="https://bizweb.dktcdn.net/100/183/857/files/thiet-ke-quan-cafe-tone-den-trang-4-1.jpg?v=1695780819747" alt="Background Image">
    </div>
</div>
</body>
</html>
