<!-- Đoạn mã HTML trong header.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Quán Nước Xinh Xắn</title>
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">3T1P</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tin tức</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thức uống
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/products/list">Danh sách chung</a></li>
            </ul>
          </li>
        </ul>

        <!-- Dropdown menu user -->
        <div sec:authorize="isAuthenticated()" class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Hello, <span sec:authentication="name"></span>!
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout" th:href="@{/logout}">Đăng xuất</a></li>
            <li><a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" href="/admin/index" th:href="@{/admin/index}">ADMIN</a></li>
          </ul>
        </div>

        <!-- Nút đăng nhập -->
        <li sec:authorize="!isAuthenticated()">
          <a href="/login" class="btn btn-outline-primary">Đăng nhập</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
          <a href="/register" class="btn btn-outline-primary">Đăng Ký</a>
        </li>

        <!-- Shopping cart icon -->
        <a href="/cart" class="btn btn-outline-primary ms-2">
          <i class="fas fa-shopping-cart"></i> Giỏ hàng
        </a>

      </div>
    </div>
  </nav>
</header>
<footer th:fragment="footer">
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>
