<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Chỉnh sửa Danh mục</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f9;
        }
        .container {
            background-color: #fff;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            border: 5px solid;
            border-image: linear-gradient(to right, #e83e8c, #6c7eeb);
            border-image-slice: 1;
            background-image: url('https://www.transparenttextures.com/patterns/flowers.png'); /* Hoa nền */
            background-size: cover;
        }
        h1 {
            font-family: 'Pacifico', cursive;
            color: #e83e8c;
            text-align: center;
            margin-bottom: 30px;
        }
        .form-label {
            font-weight: bold;
            color: #343a40;
        }
        .form-control {
            border-radius: 5px;
            border: 1px solid #ced4da;
            transition: border-color 0.3s ease;
        }
        .form-control:focus {
            border-color: #e83e8c;
            box-shadow: 0 0 5px rgba(232, 62, 140, 0.5);
        }
        .btn-primary {
            background: linear-gradient(to right, #e83e8c, #6c7eeb);
            border: 2px solid;
            border-image: linear-gradient(to right, #e83e8c, #6c7eeb);
            border-image-slice: 1;
            color: white;
            transition: background 0.3s ease, border-color 0.3s ease;
        }
        .btn-primary:hover {
            background: linear-gradient(to right, #6c7eeb, #e83e8c);
            border-color: transparent;
        }
        .btn-link {
            color: #6c757d;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        .btn-link:hover {
            color: #343a40;
        }
        .text-danger {
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <h1>Chỉnh sửa Danh mục</h1>
    <form th:action="@{/admin/category/edit/{id}(id=${category.id})}"
          th:object="${category}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Category Name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name"
                   required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}">Valid name is required.</div>
        </div>
        <label for="image" class="form-label">Current Image:</label>
        <div>
            <img th:src="@{${category.thumnails}}" alt="Product Image" style="max-width: 100px; max-height: 100px;">
        </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Category Image:</label>
            <input type="file" id="image" name="image" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a th:href="@{/admin/index}" class="btn btn-link">Cancel</a>
    </form>

</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
